.header__link {
  text-decoration: none;
  font-weight: normal;
  margin-top: 18px;
  margin-left: 12px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
    margin-left: -26px;
  }
}
