.popup__submit-button_type_inactive {
    background-color: transparent;
    border: 1px solid #000000;
    color:  #000000;
    opacity: 0.2;
    cursor: default;
}

.popup__submit-button_type_inactive:hover {
    opacity: 0.2;
}