.element__place {
  color: black;
  font-weight: 900;
  font-size: 26px;
  line-height: 29px;
  margin-left: 20px;
  margin-top: 26px;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 210px;
}

@media screen and (max-width: 1023px) {
  .element__place {
    max-width: 160px;
  }
}

@media screen and (max-width: 767px) {
  .element__place {
    max-width: 226px;
    margin-top: 17px;
    margin-left: 8px;
  }
}
