.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: center;
  margin-left: auto;
  background-image: url(../../../images/profile__add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2px;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: auto;
    width: 282px;
    margin-top: 18px;
  }
}
