.popup_type_success {
  /* background-image: url(../../../images/popup_type_success_background.svg);
  background-position: center;
  background-size: 120px 120px;
  background-repeat: no-repeat; */
  /* height: 120px;
  width: 120px; */
  /* background-size: contain; */
  text-align: center;
  color: black;
}
